body {
    width: 100vw;
    overflow-x: hidden;
}

#header {
    box-shadow: none !important;
    transition: background-color 0.5s ease;
}

#header:hover {
    background-color: rgba(255,255,255,0.9);
}

#body {
    height: auto !important;
}

#image {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../jonny-caspari.jpg');
    background-size: cover;
    background-position: center top;
    opacity: 0.1;
    filter: brightness(110%);
    z-index: -5;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    padding: 0 30px 30px 50px;
}

p {
    width: 50vw;
    padding: 40px;
}

#portrait {
    height: 55vmin;
    width: 40vmin;
    background-image: url('../portrait.jpg');
    background-size: cover;
    background-position: center;
}

span {
    display: inline-block;
    text-indent: 5vw;
}

@media screen and (max-width: 800px) {
    p {
        min-width: 90vw;
        padding: 50px 0 0 0;
    }
}