#image {
  position: absolute;
  background-image: url("../alexandra-gorn.jpg");
  background-size: cover;
  background-position: center top;
  height: 100%;
  width: 100%;
  z-index: -10;
  opacity: 1;
}

p {
  position: relative;
  font-size: 3.7vmin;
  text-align: center;
  line-height: 6vmin;
}

#body a {
  text-decoration: underline;
  color: black;
  transition: color 0.3s ease;
  cursor: pointer;
}

#body a:hover {
  color: #999;
}

img {
  width: 30vmin;
  max-width: 300px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
  border-radius: 0.5vmin;
}
